<div class="banner text-center">
  <div class="container">
    <h1><%= @list.name  %> movies</h1>
  </div>
</div>

<div class="container mt-4 mb-4">
    <div class="d-flex align-items-center justify-content-end mt-2 mb-4">
        <button type="button" class="btn btn-success text-light align-self-end">add a movie</button>
    </div>
</div>
    
<div class="container">
    <div class="cards justify-content-center">
        <% @movies.each do |movie| %>
            <div class="card-trip">
            <%= image_tag(movie.poster_url) %>
            <div class="card-trip-infos">
                <div>
                    <div class="d-flex align-items-center"><h2><%= movie.title %>&#8201;.&#8201;</h2><span><%= movie.rating %>⭐</span></div>
                    <p><%= movie.overview %></p>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end px-3 mb-2">
                <p class="fw-bold"><i class="fa-solid fa-quote-left"></i><%= movie.bookmarks.find_by(list: @list).comment  %></p>
                <p class="text-danger"><%= link_to "delete", class: "text-danger" %></p>
            </div>
            </div>
        <% end %>
    </div>
</div>